<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4ECA7A">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/mini-ui.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/script/vue.js"></script>
    <script src="/static/script/mint-ui.js"></script>
    <script src="/static/script/axios.js"></script>
    <title>加入班级</title>
</head>
<body>
<div id="app">
    <mt-header fixed title="加入班级">
        <mt-button icon="back" slot="left" onclick="window.location.href = '/switchClass'">返回</mt-button>
    </mt-header>
    <div class="main">
        <mt-field label="班级ID" placeholder="请输入班级ID" type="text" v-model="class_id"></mt-field>
        <mt-button class="btn" type="default" @click="submit">提交</mt-button>
    </div>
</div>
<script>
    const Indicator = MINT.Indicator;
    const Toast = MINT.Toast;
    const vm = new Vue({
        el: '#app',
        data: {
            class_id: "",
        },
        methods: {
            submit: function () {
                if (this.class_id !== "") {
                    Indicator.open({
                        text: "请稍后...",
                        spinnerType: 'fading-circle'
                    });
                    axios.defaults.baseURL = "http://192.168.1.156:8080";
                    axios.defaults.withCredentials = true;
                    axios({
                        method: 'PUT',
                        url: "/api/user/joinClass",
                        data: {
                            class_id: this.class_id
                        }
                    }).then((res) => {
                        Indicator.close();
                        console.log(res.data);
                        let data = res.data;
                        if (data.status === 401) {
                            window.location.href = "/login"
                        } else if (data.status === 200) {
                            Toast({
                                message: "添加班级成功",
                                position: "bottom",
                                duration: 1000
                            });
                            setTimeout(() => {
                                window.location.href = "/switchClass";
                            }, 1000);
                        } else {
                            Toast({
                                message: data.error,
                                position: "bottom",
                                duration: 1000
                            });
                        }
                    })
                } else {
                    Toast({
                        message: "班级ID不能为空",
                        position: "bottom",
                        duration: 1000
                    });
                }
            }
        }
    })
</script>
</body>
</html>