<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#4ECA7A">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/mini-ui.css">
    <link rel="stylesheet" href="/static/css/weui_2.1.3.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/me.css">
    <script src="/static/script/vue.js"></script>
    <script src="/static/script/mint-ui.js"></script>
    <script src="/static/script/weui_1.2.1.js"></script>
    <script src="/static/script/axios.js"></script>
    <script src="/static/script/main.js"></script>
    <title>班级学生</title>
    <style>
        .sid {
            color: #777777;
            font-size: 14px;
            width: 180px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
<div id="app">
    <mt-header fixed title="班级学生" style="z-index: 10000;">
        <mt-button icon="back" slot="left" onclick="window.location.href = '/'">返回</mt-button>
    </mt-header>
    <div class="main">
        <div class="weui-cells" v-for="item in student_list">
            <a class="weui-cell weui-cell_access weui-cell_example" href="javascript:">
                <div class="weui-cell__hd">
                    <img class="avatar" :src="item.gender === '女' ? '/static/image/avatar_girl.png' : '/static/image/avatar_boy.png'" alt="">
                </div>
                <div class="weui-cell__bd">
                    <p class="username">{{item.username}}</p>
                    <p class="sid">学号：{{item.internal_id}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
<script>
    const MessageBox = MINT.MessageBox;
    const Indicator = MINT.Indicator;
    const Toast = MINT.Toast;
    const vm = new Vue({
        el: "#app",
        data: {
            total: 10,
            student_list: null
        },
        created() {
            Indicator.open({
                text: "获取数据中...",
                spinnerType: 'fading-circle'
            });
            axios.defaults.baseURL = back_end_url;
            axios.defaults.withCredentials = true;
            axios({
                method: 'GET',
                url: "/api/user/students ",
            }).then((res) => {
                Indicator.close();
                let data = res.data;
                console.log(data);
                if (data.status === 404) {
                    MessageBox.alert('失败').then(action => {
                        window.location.href = "/";
                    });
                } else if (data.status === 401) {
                    window.location.href = "/login";
                } else {
                    this.student_list = data.data;
                    this.student_list.sort(function (a, b) {
                        return parseInt(a.internal_id) - parseInt(b.internal_id);
                    })
                }
            })
        },
    });
</script>
</body>
</html>