<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4ECA7A">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/mini-ui.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/script/vue.js"></script>
    <script src="/static/script/mint-ui.js"></script>
    <title>用户登录</title>
</head>

<body>
    <div id="app">
        <mt-header fixed title="用户登录"></mt-header>
        <div class="main">
            <mt-field label="邮箱" placeholder="请输入邮箱" type="email" v-model="email"></mt-field>
            <mt-field label="密码" placeholder="请输入密码" type="password" v-model="password"></mt-field>
            <mt-button class="btn" type="default" @click="">登录</mt-button>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                email: '',
                password: ''
            },
            methods: {
                login: function () {
                    
                },
                about: function () {
                    let indicator = this.$indicator;
                    indicator.open({
                        text: '加载中...',
                        spinnerType: 'fading-circle'
                    });
                    setTimeout(function () {
                        indicator.close()
                    }, 1000);
                }
            },
        })
    </script>
</body>

</html>